streamlit
requests
pandas
python-dotenv
plotly
langchain
langchain-community
langchain-core
requests-cache
typing-extensions
yfinance
requests
langchain==0.3.19 
langchain-community==0.3.18 
openai==1.65.2 
ipykernel==6.29.5
beautifulsoup4  
lxml
docling
docling-parse
pytesseract
Pillow